<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        
        <ion-title>Comics Detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let comic of parseData" color="dark">
        <ion-img style="margin-top: 1px;" src="{{ comic.thumbnail['path'] + '/portrait_incredible.' + comic.thumbnail['extension'] }}"></ion-img>
    
        <ion-card-header>
            <ion-card-title>
                {{comic.title}}
            </ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
            {{comic.description}}
        </ion-card-content>
    
        <ion-card-content>
            <p>Available Format: {{comic.format}} </p>
        </ion-card-content>
      </ion-card>

</ion-content>
