<ion-content class="container" color="dark">
    <form [formGroup]="credentials">
        <ion-item>
            <ion-icon name="mail-outline"></ion-icon><ion-input formControlName="username" type="text" placeholder="Enter your username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-icon name="key-outline"></ion-icon><ion-input formControlName="password" type="password" placeholder="Enter your password"></ion-input>
        </ion-item>

        <ion-button (click)="goToHomePage()" expand="block" fill="filled">Sign In</ion-button>
    </form>
</ion-content>
