<ion-app>
    <ion-split-pane style="background-color: #222428;" color="dark" contentId="main-content">
        <ion-menu  color="dark" style="margin-top: 30px;" contentId="main-content" type="push">
            <ion-content color="dark">
                <ion-list style="background-color: #222428;" id="inbox-list">
                    <ion-list-header color="dark">Menu</ion-list-header>

                    <ion-menu-toggle color="dark" auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item color="dark" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                        <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                        <ion-label style="color: aliceblue;">{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>

        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
